@page
@model UiControlsDemo.Pages.Controls.TextboxModel
@{
    ViewData["Title"] = "Textbox Control";
}

<h1>Textbox Control</h1>

<form>
    <label for="username">Username:</label><br/>
    <input type="text" id="username" name="username" placeholder="Enter username" />
</form>
